@font-face {
  font-family: "iconfont"; /* Project id 4229890 */
  src: url('iconfont.woff2?t=1709988848896') format('woff2'),
       url('iconfont.woff?t=1709988848896') format('woff'),
       url('iconfont.ttf?t=1709988848896') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lock:before {
  content: "\e69e";
}

.icon-zhiliangpinpai:before {
  content: "\e6f8";
}

.icon-jiaocheng:before {
  content: "\e676";
}

.icon-lipin:before {
  content: "\e677";
}

.icon-guanjun:before {
  content: "\e678";
}

.icon-xunzhang:before {
  content: "\e679";
}

.icon-yue:before {
  content: "\e67a";
}

.icon-a-bianzu145beifen:before {
  content: "\e625";
}

.icon-patrol:before {
  content: "\e62c";
}

.icon-ashbin:before {
  content: "\e667";
}

.icon-hide:before {
  content: "\e674";
}

.icon-home:before {
  content: "\e675";
}

.icon-pindao:before {
  content: "\e603";
}

.icon-paihangbang:before {
  content: "\e7bc";
}

.icon-fenlei:before {
  content: "\e60c";
}

.icon-arrow-down:before {
  content: "\e666";
}

.icon-liuyan:before {
  content: "\e606";
}

.icon-guankan:before {
  content: "\e63e";
}

.icon-svg_nav_Like_press:before {
  content: "\e611";
}

.icon-fuwuerji:before {
  content: "\e626";
}

.icon-shiwu-gouwuche:before {
  content: "\e752";
}

.icon-shouji1:before {
  content: "\e692";
}

.icon-shouji:before {
  content: "\e600";
}

.icon-anquanyinsi:before {
  content: "\e98b";
}

.icon-user1:before {
  content: "\e99e";
}

.icon-people:before {
  content: "\e673";
}

.icon-arrow-right:before {
  content: "\e665";
}

.icon-fabulous:before {
  content: "\e66f";
}

.icon-search:before {
  content: "\e67d";
}

.icon-user:before {
  content: "\e682";
}

.icon-arrow-left-bold:before {
  content: "\e685";
}

.icon-arrow-right-bold:before {
  content: "\e687";
}

